.App {
  min-height: 100vh;
  background-color: #282C34
}

.Header {
  min-height: 70vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: 'Poppins', sans-serif;
}

.Navbar-brand{
  text-decoration: none;
}

.Navbar-title{
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.Navbar-title span{
  color: #00818A;
}

.Navbar-links{
  display: flex;
  justify-content: space-around;
  width: 30%;
  list-style: none;
}

.Navbar-links a{
  color: white;
  text-decoration: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
